/*
 * SASS mixins are declared with the @mixin directive
 * and used with the @include directive
 */
@mixin border-radius($radius) {
  -webkit-border-radius: $radius;
     -moz-border-radius: $radius;
      -ms-border-radius: $radius;
          border-radius: $radius;
}

.texti { 
	@include border-radius(30px); 
}

